<div>
  <h3>Departments list</h3>
</div>

<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> Id </md-header-cell>
      <md-cell *mdCellDef="let element">
        <a [routerLink]="['/department', element.id]">{{element.id}}</a>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element">
        <a [routerLink]="['/department', element.id]">{{element.name}}</a>
      </md-cell>
    </ng-container>


    <ng-container mdColumnDef="description">
      <md-header-cell *mdHeaderCellDef> Description </md-header-cell>
      <md-cell *mdCellDef="let element">
        <a [routerLink]="['/department', element.id]">{{element.description}}</a>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="employeeCount">
      <md-header-cell *mdHeaderCellDef> Employees Count </md-header-cell>
      <md-cell *mdCellDef="let element">
        {{element.count}}
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="details">
      <md-header-cell *mdHeaderCellDef> Details </md-header-cell>
      <md-cell *mdCellDef="let element">
        <button (click)="departmentsService.showDetails(element)" md-button>details</button>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="remove">
      <md-header-cell *mdHeaderCellDef> Remove </md-header-cell>
      <md-cell *mdCellDef="let element">
        <button (click)="departmentsService.remove(element)" md-button>remove</button>
      </md-cell>
    </ng-container>


    <md-header-row *mdHeaderRowDef="dataSource.tableColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: dataSource.tableColumns;"></md-row>
  </md-table>
  <button (click)="departmentsService.openDialog()" md-button>Create new Department</button>
</div>
